cse-cic-ids2018/
BCCC-CIC-CSE-IDS2018

.venv

.ipynb_checkpoints/
service.ipynb
edge_data

.DS_Store
Thumbs.db

mergedDatasets

pictures

SORTEDDATA
KERNELdatasets
sortedDatasets
scrap
400datasets
KERNELdatasets
Quantum_Topological_Data_Analysis-NEW
Notes-&-Collected-Results
400ATTACKDATA
updated-quask